.container {
	height: 100%;
	width: 240px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include breakpoint-up(small) {
		width: 400px;
	}

	@include breakpoint-up(medium) {
		width: 650px;
	}

	@include breakpoint-up(large) {
		width: 800px;
	}

	.title {
		font-size: $font-med;
		text-align: center;
		margin: 10% 0;

		@include breakpoint-up(small) {
			font-size: $font-big;
		}
	}

	.countdown-container {
		display: flex;

		.countdown-item {
			background-color: $darkDesaturatedBlue;
			flex: 1;
			height: auto;
			border-radius: 10px;
			display: flex;
			color: $pink;
			align-items: center;
			justify-content: center;
			font-size: 32px;

			@include breakpoint-up(small) {
				font-size: 55px;
			}

			@include breakpoint-up(medium) {
				font-size: 85px;
			}

			@include breakpoint-up(large) {
				font-size: 100px;
			}

			&:not(:last-child) {
				margin-right: 15px;

				@include breakpoint-up(medium) {
					margin-right: 30px;
				}
			}

			&:before {
				content: "";
				display: block;
				padding-top: 100%;
				float: left;
			}
		}
	}

	.countdown-titles {
		display: flex;
		font-size: $font-xs;
		margin-top: 5%;
		text-align: center;
		color: $lightGrey;

		@include breakpoint-up(small) {
			font-size: $font-sm;
		}

		@include breakpoint-up(medium) {
			font-size: $font-med;
		}

		.title-item {
			flex: 1;

			&:not(:last-child) {
				margin-right: 15px;

				@include breakpoint-up(medium) {
					margin-right: 30px;
				}
			}
		}
	}

	.footer-icons {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
		width: 100%;

		.icon {
			height: 20px;
			width: 20px;

			img {
				width: 100%;
				height: 100%;
			}

			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}
