// Colors
$white: hsl(0, 0%, 100%);
$pink: #d64f70;
$lightGrey: #8486a9;
$darkDesaturatedBlue: hsl(236, 21%, 26%);
$veryDarkBlue: hsl(235, 16%, 14%);
$mostlyBlackBlue: hsl(234, 17%, 12%);

// Font Sizes
$font-xs: 0.5rem; // 8px
$font-sm: 0.75rem; // 12px
$font-med: 0.875rem; // 18px
$font-big: 1.5625rem; // 25px

// container spacing
$space-xsm: 40px;
